


.select-checkbox-item {
    white-space: nowrap;
}

.select-checkbox-item > * {
    margin: 0;
}

.select-checkbox-item input {
    vertical-align: text-bottom;
}

.setting-item input.task-list-item-checkbox {
    vertical-align: middle;
}


.checkbox-setting .setting-item-info {
    flex-grow: 0;
    flex-shrink: 0;
    --checkbox-size: var(--font-text-size);
}

.checkbox-setting .setting-item-info ul {
    padding-inline-start: 30px;
}

.checkbox-setting .setting-item-info input {
    pointer-events: none;
}

.checkbox-setting ul {
    margin: 0;
}

.checkbox-setting textarea {
    width: 100%;
}


.checkbox-setting input[type="text"] {
    max-width: 5em;
}

.checkbox-setting .setting-item-control button {
    border: none;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
}




.custom-checkbox input[type=checkbox] {
    background-color: transparent;
    border-color: transparent;
    --checkbox-color-hover: transparent;
}

.custom-checkbox input[type=checkbox]:hover {
    opacity: 0.7;
}


.custom-checkbox input[type=checkbox]:checked::after {
	-webkit-mask-position: 50% 50%;
    -webkit-mask-size: 100%;
	-webkit-mask-image: var(--custom-checkbox-url);
    background-color: var(--custom-checkbox-color);
}


.image-suggestion-item.svg-icon  {
  display: inline-block;
}


.menu-item-custom-color svg {
  background: conic-gradient(
    var(--color-red), 
    var(--color-orange), 
    var(--color-yellow), 
    var(--color-green), 
    var(--color-cyan),
    var(--color-blue), 
    var(--color-purple),
    var(--color-red)
  );
  color: transparent;
}


.color-picker-modal {
  width: fit-content;
}

.color-picker-modal .setting-item-info {
  display: none;
}


.color-picker-modal input {
  height: 80px;
  width: 80px;
}

.color-picker-modal input::-webkit-color-swatch  {
border-radius: 50%;
height: 100% !important;
}